<!DOCTYPE html>
<html>
	<head>
		<title>Malweb</title>
		<link rel="stylesheet" href="/static/style.css"/>
	</head>
	<body>
		<h1>Malicious Site Tester</h1>
			<form action="/results" method="POST" autocomplete="off">
  				<label for="webURL">Enter website URL:</label><br>
  				<input type="text" id="webURL" name="webURL" size="75" placeholder="Enter URL.." value={{ request.form.webURL }}>	
            </form>
            <div>
            <font size="4" color="red">
            	<p style="text-align:center; margin-top: 50px; font-family: Tahoma, sans-serif;"> Want to protect yourself from potential malware installation or theft 
            	<br>of your personal information before visiting a malicious website?
            	<br>
            	<br color="black">Enter a website URL above to determine whether it is malicous or not.</p>
            </font>
            </div>
	</body>
</html>
